@model Highscore.Models.ViewModels.HighscoreDetailsViewModel

<section>
    <nav class="nav justify-content-end">
        <div class="nav-item">
            <a class="nav-link active" href="">Registrera highscore</a>
        </div>
    </nav>
    <div class="col">

        <div class="border-2">
            <div class="row">
                <div class="container-fluid">
                    <div class="col">
                        <a href="/games/@Model.Highscore.UrlSlug">
                            <h3>@Model.Highscore.GameName</h3>
                        </a>
                        <div>@Model.Highscore.PlayerName, @Model.Highscore.Date</div>
                    </div>
                    <div class="col">
                        <div>@Model.Highscore.PlayerScore</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<partial name="_GlobalHighscores" for="HighscoreDetails" />